/* --------------------------------------------------------------------------------
     layout
     -------------------------------------------------------------------------------- */

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font: 13px/1.5 "Trebuchet MS", Helvetica, Arial, sans-serif;
}

object {
    height: 0;
    width: 0;
    position: absolute;
    bottom: 0;
}

#container {
    height:80%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    min-width: 960px;
    margin: 0 auto;
    overflow-y: auto;
}

.dummy {
    height: 20%;
}

#bottom-bar-container {
    margin: auto;
    height: 20%;
    min-height: 177px;
    width: 100%;
    min-width: 960px;
    position: fixed;
    bottom: 0px;
    background-color: #fff;
}

#console-container {
    margin: auto;
    height: 90%;
    min-height: 150px;
    width: 80%;
    min-width: 960px;
    padding: 17px 0px 25px;
    background-color: #fff;
    border-top: 3px solid #ddd;
}

#console {
    height: 80%;
    min-height: 140px;
    padding: 5px 15px ;
    overflow-y: scroll;
    word-wrap: break-word;
    border: 3px solid #178;
    background-color: #f5f5f5;
    font-family: "Consolas", monospace;
    font-size: 14px;
}

#section {
    padding: 0;
    border: none;
}

/* ----- UI Fix ----- */

.ui-helper-clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-helper-clearfix {
    display: inline-block;
}
* html .ui-helper-clearfix {
    height: 1%;
}
.ui-helper-clearfix {
    display: block;
}

/* --------------------------------------------------------------------------------
     HEADER
     -------------------------------------------------------------------------------- */

#header {
    height: 71px;
    background: transparent url("images/bgr_body.png") repeat-x left top;
}
#header dl {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}
#header dt {
    float: left;
    overflow: hidden;
}
#header dt a,
#header dt a img {
    display: block;
}
#header dd    {
    float: right;
}
#header dd ul {
    overflow: hidden;
    margin: 10px 0 0 0;
    list-style: none;
}
#header dd li {
    float: left;
    margin-right: 7px;
    font: italic 13px/1.5 "Trebuchet MS", Helvetica, Arial, Arial, sans-serif;
    color: #888;
}
#header dd li:after {
    content: "/";
    font-weight: bold;
    margin-left: 7px;
    color: #d23;
}
#header dd li:last-child,
#header dd li:last-child:after {
    margin: 0;
    padding: 0;
    content: "";
}
#header dd li a {
    color: #666;
    text-decoration: none;
}
#header dd li a:hover {
    color: #d23;
    text-decoration: underline;
}

/* --------------------------------------------------------------------------------
     Common
     -------------------------------------------------------------------------------- */

.common {
    clear: both;
    padding: 5px 15px;
    margin: 25px 0;
    background-color: #f5f5f5;
    overflow: hidden;
}
.common dl {
    clear: both;
    overflow: hidden;
}
.common dl dt {
    float: left;
    width: 200px;
}

.common input,
.common select    {
    float: left;
    display: block;
    margin: 0 5px 0 0;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #aaa #ccc #ddd #ccc;
    background: #fff url("images/field.png") repeat-x top left;
    font: normal 13px/1.3 "Trebuchet MS", Helvetica, Arial;
}

.common input {
    min-width: 238px;
}

.common select {
    min-width: 250px;
}

.common button {
    line-height: 1.54;
}

/* --------------------------------------------------------------------------------
     Tabs
     -------------------------------------------------------------------------------- */

.ui-tabs {
    position: relative;
    padding: 0;
    zoom: 1;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    background: #fff url("images/tab.png") repeat-x center bottom;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
    border: 3px solid transparent;
    background-color: transparent;
    background-image: none;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 10px 10px 15px;
    text-decoration: none;
    color: #178;
}

.ui-tabs .ui-tabs-nav li a span {
    border-bottom: 1px dashed #ccc;
    font: bold 14px/1.3 "Segoe UI" !important;
    letter-spacing: -0.7px !important;
    text-transform: uppercase;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    border: 3px solid #ddd;
    background-color: #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #d23;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a span {
    border-bottom-color: transparent !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    background-image: none;
    background-color: #fff;
    border: 3px solid #ddd;
    border-top: none;
    border-bottom: none;
    padding: 15px;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}

/* --------------------------------------------------------------------------------
     Group
     -------------------------------------------------------------------------------- */

#code-view {
    display: none;
    overflow-x: auto;
    margin: 0 0 15px;
}

.group {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.group_header {
    padding: 5px 15px 10px;
    font: normal 16px/1 "Segoe UI", Helvetica, Arial;
    background-color: #ddd;
}

.group ul {
    clear: both;
    display: block;
    padding: 0 15px 0 30px;
    overflow: hidden;
    list-style: none;
}

.group ul li {
    margin: 0;
    padding: 0 0 10px;
    overflow: hidden;
    list-style: none;
}

.group ul li:last-child {
    padding: 0;
}

#cert-subject,
#cert-extensions {
    padding-bottom: 15px;
}

/* ----- Fields ----- */

.group textarea,
.group input[type='text'] {
    display: block;
    padding: 5px;
    border: 1px solid;
    border-radius: 3px;
    border-color: #aaa #ccc #ddd #ccc;
    background: #fff url("images/field.png") repeat-x top left;
    font: normal 13px/1.3 "Trebuchet MS", Helvetica, Arial;
    margin:0 !important;
}

.group input[type='text'] {
    min-width: 238px;
}

.group textarea {
    width: 550px;
    padding: 10px;
}

/* ----- Buttons ----- */

.group button {
    display: block;
    font: bold 14px/1.7 "Segoe UI", Helvetica, Arial;
    text-transform: uppercase;
    width: 200px;
    border: none;
    text-align: center;
    margin: 15px !important;
    background-color: #fff;
    border: 3px solid #aaa;
    color: #aaa;
}

.group button:hover {
    background-color: #aaa;
    color: #fff;
}

.group button.example {
    border-color: #178;
    color: #178;
}
.group button.example:hover {
    background-color: #178;
    color: #fff;
}

.group button.execute {
    border-color: #d23;
    color: #d23;
}

.group button.execute:hover {
    background-color: #d23;
    color: #fff;
}

/* ----- Table ----- */

.group table th {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    text-align: left;
}

.group table th,
.group table td {
    padding: 0 15px 5px 0;
}
.group table td {
    padding-right: 25px;
}

.group table input[type='text'] {
    min-width: 150px;
}

.group table.inlineblock {
    display: inline-block;
    vertical-align: top;
}

/* --------------------------------------------------------------------------------
     Subform
-------------------------------------------------------------------------------- */
.subform {
    padding: 10px;
    border: 1px solid #ddd;
    width: 550px;
    min-width: fit-content;
    border-radius: 3px;
}


/* --------------------------------------------------------------------------------
     SyntaxHighlighter
-------------------------------------------------------------------------------- */

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    -moz-border-radius: 0 0 0 0 !important;
    -webkit-border-radius: 0 0 0 0 !important;
    background: none !important;
    border: 0 !important;
    bottom: auto !important;
    float: none !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.1em !important;
    margin: 0 !important;
    outline: 0 !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
    box-sizing: content-box !important;
    font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 1em !important;
    min-height: inherit !important;
    min-height: auto !important;
}
.syntaxhighlighter table td.gutter .line {
    text-align: right !important;
    padding: 2px 0.5em 2px 1em !important;
}
.syntaxhighlighter table td.code .line {
    padding: 2px 1em !important;
}
.syntaxhighlighter .toolbar {
    position: absolute !important;
    right: 1px !important;
    top: 1px !important;
    width: 11px !important;
    height: 11px !important;
    font-size: 10px !important;
    z-index: 10 !important;
    display: none !important;
}
.syntaxhighlighter {
    background-color: white !important;
    font-size: 14px !important;
    overflow: visible !important;
}
.syntaxhighlighter .line.alt1 {
    background-color: white !important;
}
.syntaxhighlighter .line.alt2 {
    background-color: #F8F8F8 !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #e0e0e0 !important;
}
.syntaxhighlighter .line.highlighted.number {
    color: black !important;
}
.syntaxhighlighter table caption {
    color: black !important;
}
.syntaxhighlighter .gutter {
}
.syntaxhighlighter .gutter div {
    color: #5C5C5C !important;
    width: 20px !important;
}
.syntaxhighlighter .gutter .line.alt1, .syntaxhighlighter    .gutter .line.alt2 {
    background-color: white !important;
}
.odd .syntaxhighlighter .gutter .line.alt1, .odd .syntaxhighlighter    .gutter .line.alt2 {
    background-color: #F2F2F2 !important;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #178 !important;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #4E6CA3 !important;
    color: white !important;
}
.syntaxhighlighter.printing .line .content {
    border: none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
    color: blue !important;
    background: white !important;
    border: 1px solid #4E6CA3 !important;
}
.syntaxhighlighter.collapsed .toolbar a {
    color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
    color: red !important;
}
.syntaxhighlighter .toolbar {
    color: white !important;
    background: #4E6CA3 !important;
    border: none !important;
}
.syntaxhighlighter .toolbar a {
    color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
    color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: #d23 !important;
}
.syntaxhighlighter .keyword {
    color: #178 !important;
}
.syntaxhighlighter .preprocessor {
    color: gray !important;
}
.syntaxhighlighter .variable {
    color: #aa7700 !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #ff1493 !important;
}
.syntaxhighlighter .constants {
    color: #0066cc !important;
}
.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #006699 !important;
    background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}
.syntaxhighlighter .keyword {
    font-weight: bold !important;
}
